<p style="padding-left:400px"><%= image_tag(Gchart.pie(:legend => ['Upvotes','Downvotes'], :data => [poll.upvotes,poll.downvotes], :size => '400x200')) %></p>
          <div style ="text-align:center;">
          <%= link_to "Upvote ", increase_polls_path(:id => poll.id), :remote => true %> 
        
         <%= link_to "Downvote", decrease_polls_path(:id => poll.id), :remote => true %>
      </div>